body {
  background-image: url(https://img.myloview.com/posters/old-paper-background-old-crumpled-paper-texture-vintage-retro-newspaper-empty-blank-space-page-with-grunge-stain-line-pattern-400-211347626.jpg);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: medium;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
}

.nav {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;

}

.book-card {
  border-radius: 4px;
}

.homepage-div {
  display: flex;
  padding-top: 5%;

}

.home-left {
  float: left;
  width: 50%;
  align-items: center;
  vertical-align: middle;
  
}

.home-right {
  float: right bottom;
  width: 50%;
  align-items: center;
  vertical-align: middle;
}

img {
  height: 400px;
  vertical-align: middle;
}

/* .bookcard img {
  height: 100px;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
